{% extends 'base.html' %}
{% load static %}
{% block content %}
       <section id="contact" class="contact-section">
            <h2>Visit Our Blossom Emporium</h2>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>123, Chengalpattu, TamilNadu</p>
                </div>
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <p>+91 7094223138</p>
                </div>
                <div class="contact-item">
                   <i class="fas fa-envelope"></i>
                    <p>blossomemporium2025@gmail.com</p>
                </div>
            </div>
        </section>
{% endblock %}